body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    margin: 20px 0;
    text-align: center;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.card.flipped {
    background-color: #fff;
}

.card.matched {
    background-color: #4caf50;
    cursor: default;
}

#reset-button {
    margin-top: 20px; /* Space between game board and button */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #05c063;
    color: white;
    border: none;
    border-radius: 5px;
}

#reset-button:hover {
    background-color: #036839;
}
